/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #eeeeee;
    app-root {
        display: block;
        width: 100%;
    }
}

.form-card {
    @media(min-width: 0px) {
        margin: 2rem 5% 1rem 5%;
    }
    @media(min-width: 600px) {
        margin: 2rem auto 1rem auto;
        max-width: 70rem;
    }
    max-width: 100%;
    .quote {
        margin-top: 20px;
    }
    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.packed {
            justify-content: unset;
        }
        mat-checkbox {
            margin-bottom: 10px;
        }
        mat-form-field, mat-checkbox {
            flex-grow: 1;
            max-width: 30rem;
            padding-left: 20px;
            padding-right: 20px;
        }
        button {
            margin-left: 20px;
        }
        .form-error {
            margin-left: 10px;
            border-bottom: 2px red solid;
            color: red;
        }
    }
}
